@import "styles.css";

.profile-picture{
  max-width: 90% !important;
}

.mdl-list__item-avatar{
  margin-bottom: 1em !important;
}

.mdl-list__item{
  overflow: unset !important;
}

.play-button{
  position: absolute !important;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin-top: 1em
}
.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.patient-image{
  max-width: 100%;
}

.patient-selector{
  display: block;
}

.mapping{
  min-height: 500px;
  min-width: 500px;
}